on:
  workflow_dispatch: # on button click
  push:
    branches:
      - main
name: Mutation Testing
jobs:
  mutate:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v5.3.0
        with:
          go-version: 1.20
      - name: Install Task
        uses: arduino/setup-task@v2.0.0
        with:
          version: 3.20.0
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Generate env file
        run: 'echo "$ENV_FILE" > cmd/env'
        shell: bash
        env:
          ENV_FILE: ${{secrets.ENV_FILE}}
      - name: Generate env.test file
        run: 'echo "$ENV_TEST_FILE" > cmd/env.test'
        shell: bash
        env:
          ENV_TEST_FILE: ${{secrets.ENV_TEST}}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Test Mutations
        run: task mutation
